.box{
            display: inline-block;
            width: 80px;
            height: 30px;
            background-color: indianred;
            margin: 5px;
            text-align: center;
            line-height: 20px;
        }